@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";

body {
    height:100dvh;
    overflow: hidden;
    color:var(--text);
    background-color: var(--background);
    font-family: pressStart;

    @include flex(row,center,center);

    background-color: var(--monitor);
    background-image: url("../images/textures/texture4.jpg");
    @extend .backgroundCover;
}