@font-face {
    font-family: 'courierPrime';
    src:url('../fonts/CourierPrime-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'pressStart';
    src:url('../fonts/PressStart2P-Regular.ttf') format('truetype')
}
