@font-face {
    font-family: 'courierPrime';
    src:url('public/assets/fonts/CourierPrime-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'pressStart';
    src:url('public/assets/fonts/PressStart2P-Regular.ttf') format('truetype')
}
