@use "../extends/_extends_dir";

main {
    overflow-x: hidden;
    z-index: 100;
    position:relative;
    padding:10px 20px 0 20px;
    @include box(80%);
    @include responsive(1000px) {
        @include box(85%);
    }
    @include responsive(1450px) {
        width: 90%;
    }

    background-color: var(--screen);
    border-radius:2% / 90%;
    box-shadow: 0 0 5px 10px var(--monitor_shadow);
    text-shadow: 0 0 10px var(--text_shadow);

    #main_header {
        @include flex(row,flex-end,center);
        h3 {
            font-family: pressStart;
            font-size: 0.7rem;
            opacity:0.8;
        }
    }

    #main_body {
        h1 {
            font-family: pressStart;
            font-size: 1.4rem;
        }

        h2 {
            font-size: 1rem;
            margin-top: 30px;
        }

        .article, .article > p {
            margin-top: 10px;
        }

        article {

            .learnMoreLink {
                margin-top: 10px;
            }
        }


        p {
            font-size: 0.55rem;
        }

        a {
            color:var(--text);
            font-size: 0.6rem;
        }
        
        ul {
            margin-top:10px;
            list-style-type: none;
        
        }

        li::before {
            content:"¬";
        }

        #body_footer {
            @include flex(row,space-evenly,flex-start);
            flex-wrap: wrap;
            article {

                @include flex(column,center,center);
            }
            
            .svgSocial {
                cursor:pointer;
                margin-bottom: 5px;
                height:50px;
                filter: invert(71%) sepia(31%) saturate(959%) hue-rotate(343deg) brightness(106%) contrast(101%) drop-shadow(0 0 10px var(--text_shadow));
            }
            .svgSocial:hover {
                transform:scale(110%);
            }
        }
    
    }

}

#screen_texture {
    z-index: 20;
    @include box(100%);
    position: absolute;
    top:0;
    left:0;
    filter: opacity(8%) grayscale(100%) contrast(75%);
}

.marginTop {
    p {
        margin-top: 15px;
    }
}