#main_body::-webkit-scrollbar {
    width: 0px;
}
#main_body::-webkit-scrollbar-track {
    background: black;
}
#main_body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}