#fx_snow {
    z-index: 110;
    @include box(3500px);
    position: absolute;
    top:-100px;
    left:-100px;
    background: url("/assets/images/textures/noise.png");
    background-repeat: repeat;
    background-size: 30%;
    background-position: center;
    opacity:0.10;
    //overflow: hidden;
    pointer-events: none;
}