#fx_snow {
    z-index: 110;
    @include box(2000px);
    position: absolute;
    top:0;
    left:0;
    background: url("/assets/images/textures/noise.png");
    background-repeat: repeat;
    background-size: 30%;
    background-position: center;
    opacity:0.15;
    overflow: hidden;
    pointer-events: none;
}