.techlist {
    @include flex(column,center,center);
    h2 {
        margin-bottom: 25px;
    }

    #techlist {
        width:80%;
        margin:auto;
        @include flex(row,space-between,center);
        flex-wrap: wrap;
        gap:20px;
    
        margin-top: 20px;
        .tech {
            @include flex(column,center,center);
    
            .techSVG {
                margin-bottom: 5px;
                height:50px;
                filter: invert(71%) sepia(31%) saturate(959%) hue-rotate(343deg) brightness(106%) contrast(101%) drop-shadow(0 0 10px var(--text_shadow));
            }
        }
    }
}